/* цвет основного текста #212121; */

/* вторичный цвет текста #757575; */

/* белый #ffffff; */

/* акцент #2196f3; */

/* цвет текста контактов в футере rgba(255, 255, 255, 0.6); */

/* цвет фона #ffffff; */

/* вторичный цвет фона #f5f4fA; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --logo-text-color: #000000;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.logo-web {
  color: var(--accent-text-color);
}

.logo-studio {
  color: var(--logo-text-color);
}

.list {
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.nav-info .link {
  color: var(--secondary-text-color);
}

.nav-info .link:hover,
.nav-info .link:focus {
  color: var(--accent-text-color);
}

.section-text {
  color: var(--secondary-text-color);
}
