/* цвет основного текста #212121; */

/* вторичный цвет текста #757575; */

/* белый #ffffff; */

/* акцент #2196f3; */

/* цвет текста контактов в футере rgba(255, 255, 255, 0.6); */

/* цвет фона #ffffff; */

/* вторичный цвет фона #f5f4fA; */

/* Цвет Футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-text-color: #000000;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-info: rgba(255, 255, 255, 0.6);
  --footer-copyright-color: rgba(255, 255, 255, 0.4);
}

.page {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--logo-text-color);
}

.list {
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.nav-info .link {
  color: var(--secondary-text-color);
}

.nav-info .link:hover,
.nav-info .link:focus {
  color: var(--accent-color);
}

.section-text {
  color: var(--secondary-text-color);
}

/* Team */

.team {
  background-color: var(--secondary-background-color);
}

/* Footer */

.footer {
  background-color: var(--footer-background-color);
}

.footer-text {
  color: var(--white-color);
}

.footer-info {
  color: var(--footer-info);
}

.footer-copyright {
  color: var(--footer-copyright-color);
}

/* Button */

.button {
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
}
